/* Fonts */
$font-main: roboto;
$font-title: roboto slab;

/* Colors */
$color-bg-aside: #d9e4cc;
$color-bg-footer: #4a4a4a;
$color-buttons: #6c933e;
$color-text-white: #ffffff;
$color-text-black: #000000;
$color-subtext-aside: #626262




