/* Fonts */
$font-main: roboto;
$font-title: roboto slab;

/* Colors */
$color-bg-aside: #D9E4CC;
$color-bg-footer: #4A4A4A;
$color-buttons: #6C933E;
$color-text-white: #fff;
$color-text-black: #000;




