@use "../core/variables" as vars;



.footer {
    background-color: vars.$color-bg-footer;
    color: vars.$color-text-white;
    font-family: vars.$font-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 450px;
    width: 100%;
    padding-top: 80px;

    &__supplies {
        margin-top: -60px;
        text-align: center;
        line-height: 30px;

    }

    &__rrss {
        text-align: center;
        line-height: 30px;
    }

    &__copy {
        text-align: center;
        line-height: 30px;
    }
    }


        @media (min-width: 768px) {
   

            .footer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 130px;
                height: 300px;
                padding-top: 60px;
            }
            .footer__copy {
                display: flex;
                flex-direction: column;
                justify-content: start;
                height: 200px;
                order: 1;
                text-align: left;
                

            }

            .footer__supplies{
                display: flex;
                flex-direction: column;
                justify-content: center;
                order: 2;
                text-align: left;
            }

            .footer__rrss {
                height: 200px;
                order: 3; 
                text-align: left;
        }
    }
