@use "../core/variables" as vars;


html {
    scroll-behavior: smooth;
  }
.hero {
    color: vars.$color-text-white;
    height: 100vh;
    background-image: url(/images/cover.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
        &__container--text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            margin-top: 300px;
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
        }

                .text-title {
                font-family: vars.$font-title;
                }
                .text-par {
                font-family: vars.$font-main;
                }

                &__container--scroll {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
            }        

                    .button-down {
                    margin-top: 0px;
                    border: none;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;              
                    }

                    .scroll-down {
                    display: flex;
                    position: relative;
                    z-index: 1;
                    width: 70%;
                    bottom: 36px;
                    left: 7.5px;
                    }

}

