@use "../core/variables" as vars;

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 20px 0;

}

.main-title {
    font-family: vars.$font-main;
    color: vars.$color-buttons;
    padding-left: 20px;
    font-size: 18px;

}

.main-text{
    font-family: vars.$font-title;
    padding-left: 20px;
    font-size: 22px;

    &__par {
        color: vars.$color-subtext-aside;
        font-family: vars.$font-main;
        font-size: 22px;
    }
}


.main-button {
    width: 160px;
    padding: 12px;
    border: 3px solid vars.$color-buttons;
    border-radius: 50px;
    font-family: vars.$font-main;
    font-size: 20px;
    text-align: center;
    color: vars.$color-buttons;
    background-color: vars.$color-text-white;
    margin: 20px;
}