@use "../core/variables" as vars;

.footer-arrow {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.arrow-container {
        background-color: vars.$color-text-white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.aside-container {
    background-color: vars.$color-bg-aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.aside-text {
    text-align: center;
    padding: 0 10px;

    &__subtitle {
        font-family: vars.$font-title;
        color: vars.$color-bg-footer;
        font-size: 15px;
    }
    &__title {
        font-family: vars.$font-title;
    }
}

.aside-section {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
   
}

    .aside-supplies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .aside-img {
            width: 20%;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

        .aside-supplier {
            font-family: vars.$font-title;
            color: vars.$color-text-black;
            font-size: 14px;
            }


.aside-button {
    color: vars.$color-text-white;
    background-color: vars.$color-buttons;
    width: 200px;
    padding: 12px;
    border: none;
    border-radius: 50px;
    font-family: vars.$font-main;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}

@media (min-width: 768px) {
   
/*     .footer-arrow {
        position: relative;
        z-index: 1;
 
        display: flex;
        justify-content: center;
        margin: 0 auto;
    
    } */

    .aside-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 200px;
        padding-top: 30px;
    }

    .aside-img {
        width: 60%;
        border-radius: 50%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

    .aside-supplier {
        font-family: vars.$font-title;
        color: vars.$color-text-black;
        font-size: 18px;
        margin-top: 5px;
        
        }

    .aside-text__subtitle {
        font-size: 15px;
    }
    .aside-text__title {
        font-size: 40px;
    }
}