@use "../core/variables" as vars;

.aside-container {
    background-color: vars.$color-bg-aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0;
}

.aside-text {
    text-align: center;
    padding: 0 10px;

    &__subtitle {
        font-family: vars.$font-title;
        color: vars.$color-bg-footer;
        font-size: 15px;
    }
    &__title {
        font-family: vars.$font-title;
    }
}

.aside-section {
    
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 80px 40px 80px 40px 80px 40px; */
    grid-template-rows: 25% 10% 25% 10% 25% 10%;
    gap: 10px;

}
.aside-img1 {
    width: 20%;
    border-radius: 50%;
    margin-left: 40%;


}

.aside-supplier1 {
    font-family: vars.$font-title;
    color: vars.$color-text-black;
    display: flex;
    justify-content: center;
    align-content: start;

}
.aside-img2 {
    width: 20%;
    border-radius: 50%;
    margin-left: 40%;
}

.aside-supplier2 {
    font-family: vars.$font-title;
    color: vars.$color-text-black;
    display: flex;
    justify-content: center;
    align-content: start;
}
.aside-img3 {
    width: 20%;
    border-radius: 50%;
    margin-left: 40%;
}

.aside-supplier3 {
    font-family: vars.$font-title;
    color: vars.$color-text-black;
    display: flex;
    justify-content: center;
    align-content: start;
}


.aside-button {
    width: 200px;
    padding: 12px;
    border: none;
    border-radius: 50px;
    font-family: vars.$font-main;
    font-size: 20px;
    text-align: center;
    color: vars.$color-text-white;
    background-color: vars.$color-buttons;
    margin-top: 40px;
}