@use "../core/variables" as vars;

.aside-container {
    background-color: vars.$color-bg-aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px 0;
}

.aside-text {
    text-align: center;
    padding: 0 10px;

    &__subtitle {
        font-family: vars.$font-title;
        color: vars.$color-bg-footer;
        font-size: 15px;
    }
    &__title {
        font-family: vars.$font-title;
    }
}

.aside-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
   
}

    .supplies1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .aside-img1 {
            width: 20%;
            border-radius: 50%;
        }

        .aside-supplier1 {
            font-family: vars.$font-title;
            color: vars.$color-text-black;
        }

    .supplies2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .aside-img2 {
            width: 20%;
            border-radius: 50%;
        }

        .aside-supplier2 {
            font-family: vars.$font-title;
            color: vars.$color-text-black;
        }

    .supplies3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .aside-img3 {
                width: 20%;
                border-radius: 50%;
            }

            .aside-supplier3 {
                font-family: vars.$font-title;
                color: vars.$color-text-black;
            }

.aside-button {
    color: vars.$color-text-white;
    background-color: vars.$color-buttons;
    width: 200px;
    padding: 12px;
    border: none;
    border-radius: 50px;
    font-family: vars.$font-main;
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}