

<footer class="footer">

        <section class="footer__supplies">
            <a href="https://www.adalab.es" target="_blank">
                <p>ZAPATILLAS</p>
            </a>
            <a href="https://www.adalab.es" target="_blank">
                <p>ROPA</p>
            </a>
            <a href="https://www.adalab.es" target="_blank">
                <p>NIÑO/A</p>
            </a>
            <a href="https://www.adalab.es" target="_blank">
                <p>DESTACADOS</p>
            </a>
            <a href="https://www.adalab.es" target="_blank">
                <p>TIPS</p>
            </a>
        </section>

        <section class="footer__rrss">
            <a href="https://www.adalab.es" target="_blank">
                <p>TWITTER</p>
            </a>
            <a href="https://www.adalab.es" target="_blank">
                <p>INSTAGRAM</p>
            </a>
            <a href="https://www.adalab.es" target="_blank">
                <p>YOUTUBE</p>
            </a>
        </section>

        <section class="footer__copy">
            <p>© 2023</p>
            <p>we 💚 run</p>
        </section>
    
</footer>
