<!-- <div id="hero"></div>
<hero class="hero">

   <div class="hero__container-text">
        <div class="container-text-title">
            <h1 class="text-title">COMIENZOS COMPARTIDOS</h1>
        </div>
        <div class="container-text-par">
            <p class="text-par"> Todo lo que necesitan para volver al cole con ilusión</p>
        </div>
    </div>

        

    <div class="hero__container-scroll">
        <a href="#section-aside">
            <button  class="button-down"></button>
            <img class="scroll-down" src="/images/ico-scroll-down.svg" alt="flecha scroll">
        </a>         
        </div>
</div>

</hero> -->


<div id="hero"></div>
<hero class="hero">

   <div class="hero__container-text">
        <div class="container-text-title">
            <h1 class="text-title">COMIENZOS COMPARTIDOS</h1>
        </div>
        <div class="container-text-par">
            <p class="text-par"> Todo lo que necesitan para volver al cole con ilusión</p>
        </div>
    </div>

        
    <div class="hero__container-scroll">
        <a href="#section-aside">
            <button  class="button-down"></button>
            <img class="scroll-down" src="/images/ico-scroll-down.svg" alt="flecha scroll">
        </a>         
        </div>
</div>


</hero>

