<aside class="aside">
    <div class="aside-text">
        <h2>texto pequeño</h2>
        <h1>VUELTA AL COLE</h1>
    </div>
    <section>
        <img src="/images/lpbts-mod05-img01-desk.png" alt="niña con mochila">
        <p>Mochilas esolares</p>

        <img src="/images/lpbts-mod05-img04-mob.png" alt="niño con estuche">
        <p>Estuches</p>

        <img src="/images/lpbts-mod05-img03-mob.png" alt="niña con bolsa">
        <p>Bolsas de deporte</p>
    </section>
    <button>Empezar ahora</button>
</aside>