<aside class="aside-container">

    <div class="footer-arrow">
        <a href="#hero">
            <div class="arrow-container">
                <img class="arrow-img" src="/images/ico-arrow.svg" alt="flecha inicio">
            </div>
        </a>
    </div>

    <div class="aside-text">
        <h2 class="aside-text__subtitle">¡Prepáralos con tus marcas favoritas!</h2>
        <h1 class="aside-text__title">VUELTA AL COLE</h1>
    </div>

    <section class="aside-section">
       <div class="aside-supplies">
            <img class="aside-img" src="/images/lpbts-mod05-img01-desk.png" alt="niña con mochila">
            <p class="aside-supplier">Mochilas esolares</p>
       </div>

       <div class="aside-supplies">
            <img class="aside-img" src="/images/lpbts-mod05-img04-mob.png" alt="niño con estuche">
            <p class="aside-supplier">Estuches</p>
        </div>

        <div class="aside-supplies">
         <img class="aside-img" src="/images/lpbts-mod05-img03-mob.png" alt="niña con bolsa">
            <p class="aside-supplier">Bolsas de deporte</p>
        </div>

    </section>

    <button class="aside-button">
        <a href="http://www.adalab.es" target="_blank">Empezar ahora</a>
    </button>
    <div id="section-aside"></div>
</aside>